{% include 'bootstrap.html' %}
<style>
    .cardContainer {
        background-color:whitesmoke;
        box-shadow:  4px 11px 13px 1px;
        width: 308px;
        height: auto;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .imgContainer {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .cardContainer img {
        margin-top: 8px;
        width: 290px;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
    }

    .textContainer {
        font-size: medium;
        padding: 0 8px;
    }

    .but {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .apply{
        margin-bottom: 10px;      
    }
</style>
<body>
    <div class="cardContainer">
    <div class="imgContainer">
        <img src="{{ url_for('static', filename=work.image_url) }}" alt="Img">
    </div>
    <div class="textContainer">
        <h3 class="mt-1">{{work['name']}}</h3>
        <p class="text-center" style="font-style: italic;font-weight:5000;">{{work['quote']}}</p>
        <ul class="mb-2">
            {% for line in work.detail.split('.') %}
            <li>{{line.strip()}}</li> {# strip is used to remove extra spaces forward and backward of a line #}
            {% endfor %}
        </ul>
    </div>    
    <div class="but">
        <a href="/exercisePage/{{work['id']}}" type="button" class="btn btn-outline-dark">Apply</a>
    </div>
</div>
</body>