<!-- Add this in your <head> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top px-4">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="{{ url_for('static', filename='gym_logo2.png') }}" alt="Impulse Logo" style="width: 120px;height: 43px;object-fit: contain;border-radius: 200px;">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2025 Impulse Gym</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-body-secondary" href="https://www.instagram.com/impulsefitnessstudio/" target="_blank">
        <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="https://www.facebook.com/p/Impulse-Fitness-Studio-100064977065321/" target="_blank">
        <i class="bi bi-facebook" style="font-size: 1.5rem;"></i>
      </a>
    </li>
  </ul>
</footer>
